* {
	padding: 0;
	margin: 0;
}

body {
	margin-top: 40px;
	margin-bottom: 40px;
}

header {
	width: 100%;
	padding: 5px;
	height: 30px;
	background-color: #CDCDCD;
	color: #404040;
	font-family: Calibri, Helvetica, Arial, sans-serif;
	font-size: 25px;
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: center;
	border: 1px solid gray;
	font-family: 'Raleway', sans-serif;;
}

footer {
	width: 100%;
	padding: 5px;
	height: 20px;
	background-color: #CDCDCD;
	color: #404040;
	font-family: Calibri, Helvetica, Arial, sans-serif;
	font-size: 15px;
	position: fixed;
	bottom: 0px;
	left: 0px;
	text-align: center;
	z-index: 1;
	border: 1px solid gray;
	font-family: 'Raleway', sans-serif;
}

#commentscontainer {
	width: 100%;
	padding: 5px;
	height: 460px;
	background-color: #FFFFFF;
	color: #FFF;
	font-family: Calibri, Helvetica, Arial, sans-serif;
	font-size: 15px;
	position: fixed;
	bottom: -400px;
	left: 0px;
	text-align: center;
	z-index: 0;
}

main {
	width: 100%;
	padding: 5px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.big {
	font-size: 40px;
	margin: 75px;
	font-family: 'Raleway', sans-serif;
}

a {
	text-decoration: none;
	color: #0068A9;
	font-weight: bold;
}

form input {
	height: 40px;
	margin: 23px 25px 25px;
	padding: 0px 2px 2px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
	border-top-left-radius: 11px;
	border-bottom-left-radius: 11px;
	border-bottom-right-radius: 11px;
	border-top-right-radius: 11px;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-top: 1px solid gray;
	background-color: #FFFFFF;
}

footer a {
	color: #404040;
}

input#login {
	height: 54px;
	width: 123px;
	background-color: #5AC0FF;
	border-top-left-radius: 29px;
	border-bottom-left-radius: 29px;
	border-bottom-right-radius: 29px;
	border-top-right-radius: 29px;
	font-size: 29px;
	color: #363636;
}

h1 {
	font-family: 'Raleway', sans-serif;
	color: #404040;
}

#loading {
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: 225px;
}

.subrow {
	width: 90%;
	margin: 0 auto;
	background-color: #EFEFEF;
	border-bottom: 1px #CCC solid;
	font-size: 75px;
	min-height: 149px;
}

.subrow .sublinkbar {
	font-size: 25px;
	padding: 10px 10px 0 10px;
}

#messages {
	min-height: 75px;
	color: #F10000;
	font-weight: bold;
}

.rssitem {
	width: 90%;
	margin: 0 auto;
	background-color: #EFEFEF;
	border-bottom: 1px #CCC solid;
	font-size: 20px;
	min-height: 200px;
}

#comcontent {
	background-color: #FFF;
	width: 90%;
	height: 300px;
	margin: 20px auto;
	color: #000;
	overflow: scroll;
}

.comment {
	background-color: #EEF;
	width: 90%;
	margin: 0 auto;
	padding: 5px;
	border-bottom: 1px #CCC solid;
}

.comdate {
	font-style: italic;
	font-size: 80%;
	width: 90%;
	margin: 0 auto;
	padding: 0 5px;
	background-color: #DDE;
}

.comlinks {
	font-size: 90%;
	width: 90%;
	margin: 0 auto;
	padding: 0 5px;
	background-color: #DDE;
}

#commentbox {
	width: 80%;
	position: relative;
	bottom: 0;
	height: 50px;
	padding: 5px 0px 0px;
	background-color: #5AC0FF;
	border-top-left-radius: 29px;
	border-bottom-left-radius: 29px;
	font-size: 29px;
	color: #363636;
	border: none;
	text-align: center;
}

#commentbtn {
	width: 10%;
	position: relative;
	bottom: 35px;
	background-color: #5AC0FF;
	border-top-left-radius: 29px;
	border-bottom-left-radius: 29px;
	border-bottom-right-radius: 29px;
	border-top-right-radius: 29px;
	font-size:14x;
	border: none;
	color: #363636;
	margin-left: 2px;
	margin-bottom: -6px;
}

#clearbtn {
	width: 10%;
	position: relative;
	bottom: 25px;
	left: 40.5%;
	background-color: #5AC0FF;
	border-top-left-radius: 29px;
	border-bottom-left-radius: 29px;
	border-bottom-right-radius: 29px;
	border-top-right-radius: 29px;
	font-size:14x;
	border: none;
	color: #363636;
	margin-left: -5px;
	margin-top: 6px;
}
